.image{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    object-fit: fill;
}

.title{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.letter{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight: bold; 
    font-size: 28px; 
    color:  rgb(217, 216, 240);  
    text-shadow: -1.5px 0 rgb(250, 86, 135), 0 1px #D1435Bff, 1px 0 #D1435Bff, 0 -1px #D1435Bff;
}

.button{
    padding: 5px 10px;
    font-family: Comic Sans MS; 
    background-color:rgb(165, 94, 163) ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor:pointer
}
.button:hover{
    background-color:rgb(187, 107, 184) ;
}
.button:active{
    background-color:rgb(139, 69, 136)  ;
}